{% extends 'admin/index.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}编辑个人资料{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', 'Dashboard') }}
            {{ render_breadcrumb_item('admin.manage_user', '用户管理') }}
            {{ render_breadcrumb_item('admin.edit_profile_admin', '编辑个人资料') }}
        </ol>
    </nav>
    <div class="page-header">
        <h1>编辑个人资料
            <a class="float-right btn btn-light" href="{{ url_for('user.index', username=user.username) }}">
                进入{{ user.username }}的主页</a>
        </h1>
    </div>
    <div class="card w-100 bg-light">
        <h3 class="card-header">编辑个人资料</h3>
        <div class="card-body">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}
