{% extends 'admin/index.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}照片管理{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', 'Dashboard') }}
            {{ render_breadcrumb_item('admin.manage_photo', '照片管理') }}
        </ol>
    </nav>
    <div class="page-header">
        <h1>所有照片
            <small class="text-muted">{{ pagination.total }}</small>
        </span>
        </h1>
    </div>
    {% if photos %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>图像</th>
                <th>注释</th>
                <th>类别</th>
                <th>上传者</th>
                <th>上传时间</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for photo in photos %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_photo', photo_id=photo.id) }}">
                            <img src="{{ url_for('main.get_image', filename=photo.filename_s) }}" width="250">
                        </a>
                    </td>
                    <td>{{ photo.description }}</td>
                    <td>
                        {% if photo.tags %}
                            {% for tag in photo.tags %}
                                <form class="inline" method="post"
                                      action="{{ url_for('admin.delete_tag', tag_id=tag.id, next=request.full_path) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" class="btn badge badge-danger mb-1"
                                            onclick="return confirm('Are you sure?');">
                                        {{ tag.name }} <span class="oi oi-trash" aria-hidden="true">
                                </span>
                                    </button>
                                </form>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('user.index', username=photo.author.username) }}">{{ photo.author.name }}</a>
                    </td>
                    <td>{{ moment(photo.timestamp).format('LLL') }}</td>
                    <td>
                        <form class="inline" method="post"
                              action="{{ url_for('main.delete_photo', photo_id=photo.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('确定删除？');">删除
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>无照片。</h5></div>
    {% endif %}
{% endblock %}