{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}注册{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/work.jpg') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>欢迎来到图像管理系统</h4></div>
                    <div class="card-body">
                        {{ render_form(form) }}
                        <hr>
                        <small>已经有一个账号了? <a href="{{ url_for('.login') }}">点击此处登录.</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}