{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros.html' import photo_card with context %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>《{{ tag.name }}》
            <small class="text-muted">共{{ tag.photos|length }}张照片</small>
            <a class="btn btn-danger btn-sm" href="{{ url_for('admin.delete_tag', tag_id=tag.id) }}"
                   onclick="return confirm('确定删除')">
                    删除类别
            </a>
            <span class="dropdown">
            <button class="btn btn-secondary btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                按时间排序 <span class="oi oi-elevator"></span>
            </button>
        </span>
        </h1>
    </div>
    <div class="grid">
        {% for photo in photos %}
            {{ photo_card(photo) }}
        {% endfor %}
    </div>
    <div class="page-footer">
        {{ render_pagination(pagination, align='center') }}
    </div>
{% endblock %}
